
.Dot-Pattern {
    display: none;
}
.Eclipse {
    display: none;
}
#mon-ul{
    position: absolute;
    background: white;
    right: 0;
    top: 71%;
    z-index: 99;
}
.titre-section-left {
    margin-top: 10%;
    margin-left: 5%;
    font-family: Poppins;
    font-style: normal;
    letter-spacing: -1px;
    color: #000000;
    /* padding: 25px; */
}
.titre-section-2 {
    /* margin-left: 100px; */
    /* margin-top: 70px; */
    margin-width: 200px;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: -1px;
    color: #000000;
    padding: 25px;
}
.logo-appstore {
}
.logo-playstore {
    margin-left: 30%;
}
.logo-scann1 {
    width: 40%;
    padding-top: 10%;
}


.logo-scann2 {
       width: 40%;
    margin-left: 32%;
    padding-top: 10%;
}
}

.container-niafey-1 {
    left: 50%;
    top: 30%;
}
.logo {
        width: 100%;
    margin-left: 10%;
}

#aligner-navigateur{
    padding-right: 30%;
    display: inline-table;
}

#section-1{
width: 100%;
background: #FFFAEF;
margin-bottom: -30%;
}
.section-2{
width: 100%;
margin-bottom: 210%;
background: #FFFFFF;
}
.titre-section-right {
    margin-left: 794px;
    margin-top: 700px;
}
.container-niafey-1 {
    left: 0;
    top: 35%;
}

.img_niafeyy{
    width: 250px;
    margin-left: 23%;
}
.image_telechargement {
    margin-top: -55%;
    margin-left: 0%;
}
.travailleurs_droite{
    margin-top: 10%;
    padding-left: 0;
}
.travailleurs_gauche{
    padding-bottom: 30%;
}
.liste_travailleurs {
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Poppins';
    color: #7C8087;
}

.selection_femme_de_menage {
    font-family: 'Poppins';
    letter-spacing: -1px;
    color: #1D293F;
}
.liste_femme_menage {
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Poppins';
    color: #7C8087;
}
.photo_pub{
    width: 100%;
}
.telechargement_niafey_row{
        margin-top: -10%;
}
.image_appstore_telechargement{
    padding-top: 0;
    text-align: center;
}