.contenu-site-niafey{
    overflow: hidden;
}
.contenu-tout-le-site{
    background: #fffaef;
}
.entete_de_niafey{
    display: flex;
    justify-content: space-between;
}
.nav-link-custom{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.nav-ul {
    display: flex;
    justify-content: center;
    width: 100%;
}